<!-- Slider Section Start -->
<!-- <div class="section slider-section"> -->
<div class="section slider-section">

    <!-- Slider Section Start -->
    <div class="h-auto single-slider min-h-140 md:min-h-200">
        <!-- <div class="container flex flex-col justify-center flex-auto md:justify-between lg:flex-row"> -->
        <div class="px-2 md:w-full md:px-26 w-90">
            <!-- <div class="container-ath"> -->
            <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2">

                <!-- Slider Section Start -->
                <div class="flex flex-col flex-wrap justify-center w-full pt-30 lg:w-2/3 lg:justify-start md:pt-60">
                    <h2 class="min-w-full pb-5 text-center main-title md:text-left">¿Necesita dar mantenimiento o reparar su auto?</h2>
                    <p class="min-w-full font-light text-center text-white md:text-left">Un mantenimiento periódico evita roturas extremandamente dolorosas. No hay nada mejor que confiar en la seguridad del vehículo.</p>
                    <div class="text-center md:text-left">
                        <a [routerLink]="'/contact'" class="w-40 px-5 py-3 mt-5 font-semibold text-center text-gray-900 uppercase bg-white rounded-md hover:shadow-2xl hover:text-white hover:bg-red-700">Contáctenos</a>
                    </div>
                </div>
                <!-- Slider Section End -->



                <!-- Slider Images Start -->
                <!-- <div class="flex-col hidden w-1/2 lg:block"> -->
                <div class="hidden pt-60 md:block">
                    <!-- <div class="absolute w-full pt-0 image max-w-160 top-60"> -->
                    <div class="pl-5 right-13">
                        <img class="max-w-full" src="assets/images/autochap/home-2c.png" alt="Slider">
                    </div>
                </div>
                <!-- Slider Images End -->
            </div>

        </div>
        <!-- Slider Section End -->
    </div>

</div>
<!-- Slider Section End -->

<!-- About Section Start -->
<div class="py-20 section bg-gray-50">
    <div class="container">

        <!-- About Wrapper Start -->
        <div class="about-wrapper">
            <div class="grid justify-center w-full grid-cols-1 gap-10 lg:justify-between md:grid-cols-2">
                <div class="hidden md:block">

                    <div class="about-images">
                        <div class="images">
                            <img src="assets/images/autochap/servicios/17.jpg" alt="About">
                        </div>
                    </div>

                </div>


                <!-- About Content Start -->
                <div class="about-content">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h5 class="sub-title">Bienvenido a <strong>CNA AUTOCHAP</strong>.</h5>
                        <h2 class="main-title">Tecnología de punta en manos de grandes profesionales</h2>
                    </div>
                    <!-- Section Title End -->

                    <p>
                        Nuestra cooperativa se caracteriza por ofrecer todos los servicios asciados a la reparación, mantenimiento y limpieza de vehículos de todo tipo de porte.
                    </p>

                    <p>
                        En la cooperativa también se realizan los servicios de especializados de reparación de defensa, monte y desmonte de parabrisas, arme y desarme de vehículos.
                    </p>

                    <p>
                        Todos vehículos salen listos con el logotipo AUTOCHAPT.
                    </p>

                    <!-- About Count Start -->
                    <div class="about-count">
                        <!-- About Count Start -->
                        <div class="single-count">
                            <span class="count">+400</span>
                            <p>Clientes</p>
                        </div>

                        <!-- About Count Start -->
                        <div class="single-count">
                            <span class="count">+200</span>
                            <p>Trabajadores</p>
                        </div>

                        <div class="single-count">
                            <span class="count">42</span>
                            <p>Servicios Diferentes</p>
                        </div>
                        <!-- About Count End -->
                    </div>
                    <!-- About Count End -->

                </div>
                <!-- About Content End -->

            </div>
        </div>
        <!-- About Wrapper End -->

    </div>
</div>
<!-- About Section End -->

<!-- Service Section Start -->
<div class="pb-20 section">
    <div class="container">
        <div class="flex flex-col">

            <!-- Section Title Start -->
            <div class="pt-20 text-center section-title">
                <h5 class="sub-title">¿Qué hacemos?</h5>
                <h2 class="main-title">Talleres de trabajo</h2>
            </div>
            <!-- Section Title End -->

            <div class="grid w-full grid-cols-1 gap-10 my-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 1</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Autos ligeros</h1>
                        <p class="py-5 line-clamp-2">
                            Se especializa en vehículos de la línea. Rusa Lada y Moscovich.
                        </p>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Talleres 2 y 3</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Autos de lujo</h1>
                        <p class="py-5 line-clamp-2">
                            Se encarga de los vehículos de prestación turística, como son los pertenecientes a Taxi Cuba, Rex y Transtur, ómnibus, microbuses, paneles y Sprinters..
                        </p>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 4</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Camiones</h1>
                        <p class="py-5 line-clamp-2">
                            Se especializa en equipos pesados Camiones, Grúas, camiones de bomberos, rastras, concreteras, cargadores, carros patrulleros.
                        </p>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 5</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Tapicería</h1>
                        <p class="py-5 line-clamp-2">
                            Garantiza la actividad de tapicería, proporcionan asientos con acolchonado, resorte, correas y cubiertas de tela.
                        </p>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 6</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Mecánica</h1>
                        <p class="py-5 line-clamp-2">
                            Garantiza la generación y la transmisión del movimiento en sistemas automotrices.
                        </p>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 7</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Mercedes Benz</h1>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 8</h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Taller Movil</h1>
                    </div>
                </div>

                <div class="z-10 my-4 bg-gray-100 rounded-md w-60 h-150 hover:shadow-md">
                    <div class="p-6">
                        <h1 class="text-5xl font-semibold text-red-600">Taller 31 y 42 </h1>
                        <h1 class="pt-3 text-2xl font-bold text-gray-900">Atención 24/7</h1>
                        <p class="py-5 line-clamp-2">
                            Se encuentra en la misma dirección que su nombre indica y además de especializarse en la servicios de mecánica, brinda servicios de 24 horas para Ponchera y Fregado.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Service Section End -->

<!-- Call to Action Section Start -->
<div class="py-20 section bg-gray-50">
    <div class="container">

        <!-- Call to Action Wrapper Start -->
        <div class="call-to-action-wrapper">

            <!-- Call to Action Content Start -->
            <div class="call-to-action-content">
                <div class="content-wrapper">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-white">
                        <h5 class="sub-title">Servicio de escatolina 24/7 </h5>
                        <h2 class="main-title">+53 7 646 6203</h2>
                    </div>
                    <!-- Section Title End -->
                    <p class="text-white">No importa donde esté, llamenos y acudiremos a su auxilio</p>
                    <a [routerLink]="'contact'" class="px-5 py-3 mt-5 font-semibold text-gray-900 uppercase bg-white rounded-md hover:text-white hover:shadow-2xl hover:bg-red-700">LLámenos</a>
                </div>
            </div>
            <!-- Call to Action Content End -->

            <!-- Call to Action Images Start -->
            <div class="call-to-action-images">
                <img class="shape" src="assets/images/autochap/servicios/escatolina-2.jpg" alt="Escatolina" />

            </div>
            <!-- Call to Action Images End -->

        </div>
        <!-- Call to Action Wrapper End -->

    </div>
</div>
<!-- Call to Action Section End -->

<!-- Why Choose Section Start -->
<div class="py-20 section">
    <div class="container">

        <!-- Why Choose Wrapper Start -->
        <div class="choose-wrapper">
            <div class="row align-items-center gx-xl-0">
                <div class="col-lg-5">
                    <!-- Why Choose Content Start -->
                    <div class="choose-content" data-aos="fade-right" data-aos-delay="300">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">¿Por qué escogernos?</h5>
                            <h2 class="main-title">Nuestra máxima es la calidad.</h2>
                        </div>
                        <!-- Section Title End -->

                        <p>Contamos con un Sistema Integrado de Gestión de la Calidad certificado por las normas ISO.</p>

                        <img class="hidden md:block" src="assets/images/choose/choose.png" alt="Choose">
                    </div>
                    <!-- Why Choose Content End -->
                </div>
                <div class="col-lg-7">
                    <!-- Why Choose Items Wrapper Start -->
                    <div class="choose-items-wrapper">
                        <div class="row gx-xl-5 align-items-center">
                            <div class="col-sm-6">

                                <!-- Single Choose Item Start -->
                                <div class="single-choose-item">
                                    <div class="w-30">
                                        <img class="w-30" src="assets/images/autochap/iso/iso-9001.png" alt="Icon">
                                    </div>
                                    <div class="item-content">
                                        <h4 class="title">NC ISO 9001:2015</h4>
                                        <p>Sistemas de gestión de calidad.</p>
                                    </div>
                                </div>
                                <!-- Single Choose Item End -->

                            </div>
                            <div class="col-sm-6">

                                <!-- Single Choose Item Start -->
                                <div class="single-choose-item">
                                    <div class="w-30">
                                        <img class="w-30" src="assets/images/autochap/iso/iso-14001.png" alt="Icon">
                                    </div>
                                    <div class="item-content">
                                        <h4 class="title">NC ISO 14001:2015</h4>
                                        <p>Sistemas de gestión ambiental.</p>
                                    </div>
                                </div>
                                <!-- Single Choose Item End -->

                            </div>
                            <div class="col-sm-6">

                                <!-- Single Choose Item Start -->
                                <div class="single-choose-item">
                                    <div class="w-30">
                                        <img class="w-30" src="assets/images/autochap/iso/iso-45001.jpg" alt="Icon">
                                    </div>
                                    <div class="item-content">
                                        <h4 class="title">NC ISO 45001:2018</h4>
                                        <p>Sistemas de gestión de la seguridad y salud en el trabajo.</p>
                                    </div>
                                </div>
                                <!-- Single Choose Item End -->

                            </div>
                        </div>
                    </div>
                    <!-- Why Choose Items Wrapper End -->
                </div>
            </div>
        </div>
        <!-- Why Choose Wrapper End -->

    </div>
</div>
<!-- Why Choose Section End -->

<!-- How We Work Section Start -->
<div class="py-20 section bg-gray-50">
    <div class="container">

        <!-- Section Title Start -->
        <div class="text-center section-title">
            <h5 class="sub-title">Proceso de Trabajo</h5>
            <h2 class="main-title">¿Cómo trabajamos?</h2>
            <p>El proceso de trabajo está diseñado para ofrecer la mejor satisfaccion del <br> cliente posible en el menor tiempo. </p>
        </div>
        <!-- Section Title End -->

        <!-- How we Work Wrapper Start -->
        <div class="how-we-work-wrapper">
            <div class="grid w-full grid-cols-1 gap-10 my-10 sm:grid-cols-2 md:grid-cols-4">

                <!-- Single Work Start -->
                <div class="single-work">
                    <span class="number">01</span>
                    <div class="content-wrapper">
                        <img src="assets/images/work/work-1.png" alt="Work">
                        <h4 class="title"><span>Obtenga una cita</span></h4>
                    </div>
                </div>
                <!-- Single Work End -->


                <!-- Single Work Start -->
                <div class="single-work">
                    <span class="number">02</span>
                    <div class="content-wrapper">
                        <img src="assets/images/autochap/vectores/Remolque.svg" alt="Work">
                        <h4 class="title"><span>Traiga su vehículo</span></h4>
                    </div>
                </div>
                <!-- Single Work End -->


                <!-- Single Work Start -->
                <div class="single-work">
                    <span class="number">03</span>
                    <div class="content-wrapper">
                        <img src="assets/images/autochap/vectores/taller.svg" alt="Work">
                        <h4 class="title"><span>Trabajo de reparación</span></h4>
                    </div>
                </div>
                <!-- Single Work End -->


                <!-- Single Work Start -->
                <div class="single-work">
                    <span class="number">04</span>
                    <div class="content-wrapper">
                        <img src="assets/images/autochap/vectores/carro.svg" alt="Work">
                        <h4 class="title"><span>Listo para la entrega</span></h4>
                    </div>
                </div>
                <!-- Single Work End -->

            </div>
        </div>
        <!-- How we Work Wrapper End -->

    </div>
</div>
<!-- How We Work Section End -->

<!-- Testimonials Section Start -->
<div class="py-20 section">
    <div class="container">

        <!-- Section Title Start -->
        <div class="mb-10 text-center section-title">
            <h5 class="sub-title">Clientes</h5>
            <h2 class="main-title">Principales clientes</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet necessitatibus est officia <br> natus molestiae nulla fugit! </p>
        </div>
        <!-- Section Title End -->

        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let logo of logos; trackBy: trackByFn">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="flex items-center justify-center my-10 w-30">

                            <img [src]="logo.image" [alt]="'Image'">

                        </div>
                    </div>
                </ng-template>
            </ng-container>

        </owl-carousel-o>

    </div>
</div>
<!-- Testimonials Section End -->
