<!-- Slider Section Start -->
<div class="section slider-section">

    <!-- Slider Section Start -->
    <div class="single-slider" style="background-image: url(assets/images/slider/slider-bg.jpg);">
        <div class="container">

            <!-- Slider Section Start -->
            <div class="slider-content">
                <h5 class="sub-title" data-aos="fade-up" data-aos-delay="100"> a garage for all models </h5>
                <h1 class="main-title" data-aos="fade-up" data-aos-delay="400">Need to Service or repair your car?</h1>
                <p data-aos="fade-up" data-aos-delay="600">Car servicing rationally encounter consequences that extremely painful. Nor again is there anyone who loves or pursues </p>
                <a href="contact.html" data-aos="fade-up" data-aos-delay="800" class="btn btn-custom-01">Contact us</a>
            </div>
            <!-- Slider Section End -->

        </div>

        <!-- Slider Images Start -->
        <div class="slider-images">
            <div class="image" data-aos="fade-left" data-aos-delay="1000">
                <img src="assets/images/slider/slider-2.png" alt="Slider">
            </div>
        </div>
        <!-- Slider Images End -->

        <!-- Slider Images Start -->
        <div class="slider-images-02">
            <div class="image" data-aos="fade-right" data-aos-delay="1300">
                <img src="assets/images/slider/slider-1.png" alt="Slider">
            </div>
        </div>
        <!-- Slider Images End -->
    </div>
    <!-- Slider Section End -->

</div>
<!-- Slider Section End -->
