<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(assets/images/page-banner-bg.png);">
    <div class="container">
        <!-- Page Banner Wrapper Start -->
        <div class="page-banner-wrapper">

            <!-- Page Banner Content Start -->
            <div class="page-banner-content">

                <!-- Section Title Start -->
                <div class="section-title">
                    <h5 class="text-white sub-title">Servicios</h5>
                    <h2 class="text-white main-title">¿Qué ofrecemos?</h2>
                </div>
                <!-- Section Title End -->

                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white hover:text-warn-500" [routerLink]="'/home'">Inicio</a></li>
                    <li class="text-white breadcrumb-item">Servicios</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->

            <!-- Page Banner Images Start -->
            <div class="page-banner-images">
                <img src="assets/images/page-banner.png" alt="Page Banner">
            </div>
            <!-- Page Banner Images End -->

        </div>
        <!-- Page Banner Wrapper End -->
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Service Section Start -->
<div class="py-20 section">
    <div class="container">
        <div class="position-relative">

            <!-- Section Title Start -->
            <div class="text-center section-title">
                <h5 class="sub-title">¿Qué ofrecemos?</h5>
                <h2 class="main-title">Nuestros servicios <br> para usted</h2>
            </div>
            <!-- Section Title End -->

            <!-- Service Wrapper Start -->
            <div class="px-16 service-wrapper">
                <div class="flex flex-col flex-wrap justify-center gap-7 sm:flex-row">
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="200">
                            <h4 class="title"><a href="service-details.html">Chapistería</a></h4>
                            <p class="line-clamp-4">Los trabajos de chapistería se realizan, su complejidad:Leve, Mediano, Grave y Reconstrucción.</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="400">
                            <h4 class="title"><a href="service-details.html">Pintura</a></h4>
                            <p class="line-clamp-4">Los trabajos de pintura que se realizan con dos tipos: Monocapa y Bicapa.</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="600">
                            <h4 class="title"><a href="service-details.html">Tapicería</a></h4>
                            <p class="line-clamp-4">Los trabajos de tapicería se realizan a: Asientos, Paños de Puertas, Cartones, Alfombra y Techo.</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="200">
                            <h4 class="title"><a href="service-details.html">Cristalería</a></h4>
                            <p class="line-clamp-4"> escribir description</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="400">
                            <h4 class="title"><a href="service-details.html">Mecánica</a></h4>
                            <p class="line-clamp-4">Mantenimientos y reparaciones, ligero, medio y total para todo tipo de automovil. Diagnóstico Inicial Revisión Eléctrica del Sistema de Clima, Reparación de Compresor.</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="600">
                            <h4 class="title"><a href="service-details.html">Mantenimiento de Alternador</a></h4>
                            <p class="line-clamp-4"> escribir description</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="600">
                            <h4 class="title"><a href="service-details.html">Mantenimiento de Motor de Arranque</a></h4>
                            <p class="line-clamp-4">Desmonte y Monte de Neumáticos, Dirección, de las Partes del Motor Alineación. </p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="600">
                            <h4 class="title"><a href="service-details.html">Reparación de Sistemas de Dirección</a></h4>
                            <p class="line-clamp-4"> escribir description</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                    <div class="w-1/2 lg:w-1/4">
                        <!-- Single Service Start -->
                        <div class="flex flex-col space-y-2 single-service" data-aos="fade-up" data-aos-delay="600">
                            <h4 class="title"><a href="service-details.html">Escatolina</a></h4>
                            <p class="line-clamp-4">Recogida en plaza y entrega en el lugar acordado por el cliente.</p>
                            <a href="service-details.html" class="more">Conocer más...</a>
                        </div>
                        <!-- Single Service End -->
                    </div>
                </div>
            </div>
            <!-- Service Wrapper End -->

        </div>
    </div>
</div>
<!-- Service Section End -->
