/* ----------------------------------------------------------------------------------------------------- */


/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

* {
    text-decoration: none !important;
}

@import '~swiper/swiper-bundle';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.owl-item {
    @apply flex items-center justify-center mr-0 rounded-md bg-gray-50;
    height: 200px !important;
}

.footer {
    background-color: #19191C;
}

.footer-text {
    color: #A1A1A8;
}
