<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="">
    <div class="container">
        <!-- Page Banner Wrapper Start -->
        <div class="page-banner-wrapper">

            <!-- Page Banner Content Start -->
            <div class="page-banner-content">

                <!-- Section Title Start -->
                <div class="section-title">
                    <h5 class="text-white sub-title">Contacto</h5>
                    <h2 class="text-white main-title">Contacte <br> con nosotros</h2>
                </div>
                <!-- Section Title End -->

                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white hover:text-warn-500" [routerLink]="'/home'">Inicio</a></li>
                    <li class="text-white breadcrumb-item">Información de contacto</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->

            <!-- Page Banner Images Start -->
            <div class="page-banner-images">
                <img src="assets/images/page-banner-3.png" alt="Page Banner">
            </div>
            <!-- Page Banner Images End -->

        </div>
        <!-- Page Banner Wrapper End -->
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Contact Section Start -->
<div class="py-20 section bg-gray-50">
    <div class="container">

        <!-- Contact Wrapper Start -->
        <div class="contact-wrapper">
            <div class="flex flex-col items-start sm:flex-row">
                <div class="col-lg-6">
                    <!-- Contact Content Start -->
                    <div class="contact-content">
                        <h2 class="title">Información de contacto</h2>
                        <!-- <p class="sub-title">Le ofrecemos varias alternativas para hablar con nosotros</p> -->

                        <div class="content-info">
                            <div class="row gx-md-5">
                                <div class="col-md-6">
                                    <!-- Single Info Start -->
                                    <div class="single-info">
                                        <h4 class="info-title">Domicilio</h4>
                                        <p>Calle 247, No. 24318, entre Avenida 26 de julio y Linderos, Reparto Abel Santamaría, municipio Boyeros, La Habana.</p>
                                    </div>
                                    <!-- Single Info End -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Single Info Start -->
                                    <div class="single-info">
                                        <h4 class="info-title">Teléfonos</h4>
                                        <p><span class="text-hint">Pizarra</span>: <br>+53 7 646 7210,<br>+53 7 646 6203</p>
                                        <p><span class="text-hint">Recepción</span>: Ext 101</p>
                                        <p><span class="text-hint">Secretaría</span>: Ext 102</p>
                                    </div>
                                    <!-- Single Info End -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Single Info Start -->
                                    <div class="single-info">
                                        <h4 class="info-title">Web</h4>
                                        <p><a href="mailto:oschapt@autochapt.cu">oschapt@autochapt.cu</a></p>
                                        <p>www.autochap.cu</p>
                                    </div>
                                    <!-- Single Info End -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Single Info Start -->
                                    <div class="single-info">
                                        <h4 class="info-title">Comercial</h4>
                                        <p>Ext 123 <br>Directo: +53 7 646 8942</p>
                                        <p>irasema@autochapt.cu</p>
                                    </div>
                                    <!-- Single Info End -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Content End -->
                </div>

                <div class="col-lg-6">
                    <div class="contact-content">
                        <h2 class="mb-5 title">Encuéntrenos en Google Maps</h2>


                        <!-- <div class="form-wrapper">
                                <form #contactNgForm="ngForm" [formGroup]="contactForm">
                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="single-form">
                                                <input type="text" placeholder="Nombre" formControlName="name">
                                            </div>

                                        </div>
                                        <div class="col-md-4">

                                            <div class="single-form">
                                                <input type="email" placeholder="Correo el usuario" formControlName="email">
                                            </div>

                                        </div>
                                        <div class="col-md-4">

                                            <div class="single-form">
                                                <input type="text" placeholder="Teléfono" formControlName="phone">
                                            </div>

                                        </div>
                                        <div class="col-md-12">

                                            <div class="single-form">
                                                <textarea placeholder="" formControlName="message"></textarea>
                                            </div>

                                        </div>
                                        <p class="form-message"></p>
                                        <div class="col-md-12">

                                            <div class="single-form">
                                                <button class="px-5 py-3 m-5 font-semibold text-white uppercase bg-red-700 border-b-2 rounded-lg hover:shadow-2xl">Enviar mensaje</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div> -->

                        <div class="flex justify-start p-5 rounded-xl">
                            <google-map [width]="525" [height]="320" [options]="mapOptions">
                                <map-marker [position]="marker.position"></map-marker>
                            </google-map>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Wrapper End -->

    </div>
</div>
<!-- Contact Section End -->