<!-- Footer Section Start -->
<div class="section footer-section" style="background-image: url(assets/images/footer-bg.jpg);">

    <!-- Footer Widget Start -->
    <div class="py-10 footer-widget-section">
        <div class="container">

            <!-- Footer Widget Wrapper Start -->
            <div class="footer-widget-wrapper">
                <div class="row">
                    <div class="col order-lg-1">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <div class="flex flex-row justify-center">
                                <a class="flex flex-row justify-center w-48" [routerLink]="'/home'">
                                    <img src="assets/images/logo-autochap.png" alt="Logo">
                                </a>
                            </div>
                            <div class="flex flex-row justify-center">
                                <p>
                                    <span>Servicio altamente confiable certificado por las mejores empresas del país.</span>
                                </p>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                    </div>

                    <div class="col order-lg-1">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <div class="widget-info">
                                <h3 class="footer-widget-title">Información de contacto</h3>
                                <p><span>Pizarra</span>: +53 7 646 7210, +53 7 646 6203</p>
                                <p><span>Recepción</span>: Ext 101</p>
                                <p><span>Secretaría</span>: Ext 102</p>
                                <p><span>Correo electrónico</span>: oschapt@autochapt.cu</p>
                                <p><span>Comercial</span>: Ext 123, Directo: +53 7 646 8942</p>
                                <p><span>Correo electrónico</span>: irasema@autochapt.cu</p>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                    </div>

                    <div class="col order-md-2 order-lg-3">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget" data-aos="fade-up" data-aos-delay="400">
                            <h3 class="footer-widget-title">¿Dónde estamos?</h3>

                            <div class="">
                                <p>Calle 247, No. 24318, entre Avenida 26 de julio y Linderos, Reparto Abel Santamaría, municipio Boyeros, La Habana.</p>
                            </div>

                            <div class="widget-opening">
                                <h3 class="footer-widget-title">Horario</h3>

                                <p>Lunes a Viernes <i class="fa fa-long-arrow-right"></i> 9.30 am a 5.30 pm</p>
                                <p>Sábados <i class="fa fa-long-arrow-right"></i> 9.30 am to 2.00 pm</p>
                                <p>Domingos <i class="fa fa-long-arrow-right"></i> Cerrados</p>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                    </div>
                </div>
            </div>
            <!-- Footer Widget Wrapper End -->

        </div>
    </div>
    <!-- Footer Widget End -->

    <!-- Footer Copyright End -->
    <div class="footer-copyright-section ">
        <div class="container">

            <!-- Copyright Wrapper Start -->
            <div class=" copyright-wrapper">

                <div class="copyright-text">
                    <p>&copy; {{ year }} <span> AUTOCHAP </span> - Hecho con <i class="icofont-heart-alt"></i> por <a class="hover:text-teal-200" href="#">Alpha</a> & <a class="hover:text-teal-200" href="https://athendat.github.io">ATHENDAT</a></p>
                </div>

                <div class="copyright-social">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>

            </div>
            <!-- Copyright Wrapper End -->

        </div>
    </div>
    <!-- Footer Copyright End -->

</div>
<!-- Footer Section End -->